/* styles.css */
.toolbar {
    background-color: #fbfbfb66;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px; /* Adjust the font size as needed */
    text-align: center;
    flex-grow: 1; /* Allows the title to take up remaining space in the middle */
    color: #333;
}

.home-icon img {
    width: 24px;
    height: 24px;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content div {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover {
    background-color: #444;
}

/* display the dropdown on hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #444;
}