/* Select the element by its class */
.blue-text {
    color: blue;
}

.red-text {
    color: red;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request.htmx-indicator{
    display:inline;
}

body {
    margin: 0px;   
}

#mynetwork {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}
