<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <!-- custom CSS for Anacostia landing page -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        
        <!-- Htmx -->
        <script src="{{ url_for('static', filename='js/htmx.min.js') }}" type="text/javascript"></script>

        <!-- Hyperscript -->
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        
        <!-- custom CSS and JS for node UIs -->
        {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
        {% endfor %}

        {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}

        <!-- load node specific resources 
        <link rel="stylesheet" type="text/css" hx-get="/resources" hx-target="this" hx-swap="outerHTML" hx-trigger="load">
        -->
    </head>
    <body>
        <div class="toolbar">
            <a href="/" class="home-icon"><img src="{{ url_for('static', filename='img/home-icon.svg') }}" alt="Home"></a>
            <div class="title">Anacostia</div>
            <div class="dropdown">
                <button class="dropbtn">Nodes</button>
                <div class="dropdown-content">
                    {% for node in nodes %}
                    <div hx-get="{{ node.endpoint }}" hx-target="#node_content" hx-swap="innerHTML" hx-trigger="click">
                        {{ node.name }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="node_content"></div>
    </body>
</html>
