{% extends "base.html" %}

{% block head %}
<script src="https://d3js.org/d3.v6.min.js"></script>
{% endblock %}

{% block body %}
<div id="my_dataviz"></div>

<!-- replace hardcoded values with window.innerWidth and window.innerHeight -->
<svg id="canvas"></svg>

<script type="">
    // import json data for the graph structure from flask
    var data = {{ json_data|tojson|safe }};
    var nodes = data.nodes;
    var edges = data.links;
</script>

<script>

    // Get the center coordinates
    const screen_width = window.innerWidth;
    const screen_height = window.innerHeight;
    const centerX = window.innerWidth / 2;
    const centerY = window.innerHeight / 2;

    // Create a D3 force-directed graph
    const svg = d3.select("#canvas")
        .attr("width", screen_width)
        .attr("height", screen_height);

    const simulation = d3.forceSimulation(nodes)
        .force('charge', d3.forceManyBody().strength(-1200))
        .force('link', d3.forceLink(edges).id(d => d.id))
        .force('center', d3.forceCenter(centerX, centerY))
        .on('tick', ticked);
    
    // Create the link lines
    const link = svg.selectAll('.link')
        .data(edges)
        .enter().append('line')
        .attr('class', 'link')
        .attr('stroke-width', 2)
        .attr('stroke', '#555555');
    
    // Create the node circles
    const node = svg.selectAll('.node')
        .data(nodes)
        .enter().append('g')
        .attr('class', 'node')
        .call(d3.drag()
            .on('start', dragstarted)
            .on('drag', dragged)
            .on('end', dragended));
    
    // Create the node circles
    node.append('circle')
        .attr('r', 60)
        .attr('fill', '#ccccff');

    // Append HTML content as labels
    node.append('foreignObject')
        .attr('width', 80)
        .attr('height', 50)
        .attr('x', -40)
        .attr('y', -25)
        .html(d => d.label)
        .attr("text-anchor", "middle");
    
    function ticked() {
        link
            .attr('x1', d => d.source.x)
            .attr('y1', d => d.source.y)
            .attr('x2', d => d.target.x)
            .attr('y2', d => d.target.y);

        node
            .attr('transform', d => `translate(${d.x},${d.y})`);
    }

    function dragstarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
    }

    function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }
</script>
{% endblock %}