{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
<div class="toolbar">
    <a href="/home" class="home-icon"><img src="{{ url_for('static', filename='img/home-icon.svg') }}" alt="Home"></a>
    <div class="title">Anacostia</div>
    <div class="dropdown">
        <button class="dropbtn">Nodes</button>
        <div class="dropdown-content">
            {% for node in nodes %}
            <div hx-get="{{ node.endpoint }}" hx-target="#node_content" hx-swap="innerHTML" hx-trigger="click">
                {{ node.name }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="node_content"></div>
{% endblock %}